extend layout
block content
  p
    | At last!  A working website.  
    | Working with javascript is fun.
  p
    b Goals by friday
    |	
    | Control GPIO from web
    | Add buttons to website
  P
    b Investigate
    |
    | 2 wiimotes better image
    | relays
   block sidebar
  .widget
    h1 Widget
    p
      | Change up style
      | Have fun with it
